@keyframes slide-left {
0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0;
}
100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
}
}
