body {height: 100vh;}
header {
    display: flex;
    position: relative;
}
header .left_menu {    
    position: absolute;
    z-index: 99;
    left: 50px;
    top: 40px;
}
header .left_menu a {
    color: #fff;
    margin-right: 40px;
    font-size: 1.25rem;
    font-family: 700;
    
}
header h1 {    
    position: absolute;
    z-index: 99;
    left: 900px;
    top: 30px;
}
header h1 a {}
header h1 a img {}
header .right_menu {
    position: absolute;
    z-index: 99;
    right: 50px;
    top: 50px;
}
header .right_menu a {
    color: #fff;
    margin-left: 40px;
}
/* main bg  */
main {text-align: center;}
main .swiper-container {}
main .swiper-container .swiper-wrapper {}
main .swiper-container .swiper-wrapper {}
main .swiper-container .swiper-wrapper .swiper-slide {}
main .swiper-container .swiper-wrapper .slide1 {}
main .swiper-container .swiper-wrapper .slide1 img {width: 100%; height: 100%;}
main .swiper-container .swiper-wrapper .title_text {
    color: #fff;
    position: absolute;
    z-index: 10;
    bottom: 150px;
    left: 50px;
}
main .swiper-container .swiper-wrapper .title_text p {
    line-height: 1.5;
    font-size: 1.25rem;
}
main .swiper-container .swiper-wrapper .title_text h2 {
    font-size: 3rem;
    font-family: 700;
    padding-top: 40px;
}
main .swiper-container .swiper-wrapper .btn {
    position: absolute;
    z-index: 10;
    bottom: 50px;
    left: 50px;
}
main .swiper-container .swiper-wrapper .btn a {}
main .swiper-container .swiper-wrapper .btn >  a:first-child {
    background-color: #fff;
    padding: 10px 20px; margin-right: 10px;
}
main .swiper-container .swiper-wrapper .btn a:nth-child(2) {
    background-color: #000; color: #fff;
    padding: 10px 20px;
}
main .swiper-container .chat_message {
    position: absolute;
    z-index: 10;
    bottom: 40px;
    right: 30px;
}
main .swiper-container .chat_message a {}
main .swiper-container .chat_message a img {}
/* ===============content 2 */
.best_kia {}
.best_kia h2 {
    text-align: center;
    font-size: 3.15rem; font-family: 700;
    padding: 100px 0 50px;
}
.best_kia .btn_menu {
    display: flex; justify-content: center;
    font-size: 1.25rem; border-bottom: 1px solid #aaa; padding-bottom: 10px;
}
.best_kia .btn_menu li {}
.best_kia .btn_menu li a {
    margin-right: 60px;
}
.silder {
    display: flex; 
    overflow: hidden;
    margin: 50px 240px;
}
/* ===================== con1 */
.silder .content {
    border: 1px solid #aaa; border-radius: 20px;
    width: 450px; height: 900px;
    padding: 40px 40px 210px;
    margin-right: 30px;
}
.silder .content .content1 {
    text-align: left;
}
.silder .content .content1 .content_top {position: relative;}
.silder .content .content1 .content_top h3 {
    font-size: 1.875rem;
    padding-bottom: 50px;
}
.silder .content .content1 .content_top .ranking {
    background-color: #000; color: #fff;
    border-radius: 50px;
    position: absolute;
    right: 20px; top: 0px;
    width: 80px;  height: 30px;
    align-items: center; 
    display: flex;
    justify-content: center;
}
.silder .content .content1 .content_top > p {color: #aaa;}
.silder .content .content1 .content_top p em {}
.silder .content .content1 .content_img {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.silder .content .content1 .content_img img {width: 400px;}
.silder .content .content1 .description {padding-bottom: 80px;}
.silder .content .content1 .description ul {
    display: flex; justify-content: space-between;
    padding: 20px 0;
}
.silder .content .content1 .description ul li {font-weight: 700;}
.silder .content .content1 .description ul li:last-child {
}
.silder .content .content1 .price {
    padding-top: 30px;
    border-top:  1px solid #888;
    width: 300px;
    text-align: right;
    margin-left: 50px;
}
.silder .content .content1 .price p {
    font-size: 1.875rem;
}
.silder .content .content1 .price p span {color: #aaa; font-size: 0.9rem;}
.silder .content .content1 .btn {
    margin-top: 60px; text-align: center;
}
.silder .content .content1 .btn > a {
    border: 1px solid #000;
    padding: 10px 20px;
}
.silder .content .content1 .btn a:last-child {background-color: #000; color: #fff;}
/* =======================  con2 */
.silder .content .content2 {}
.silder .content .content2 .content_top {position: relative;}
.silder .content .content2 .content_top h3 {
    font-size: 1.875rem;
    padding-bottom: 50px;
}
.silder .content .content2 .content_top .ranking {
    background-color: #000; color: #fff;
    border-radius: 50px;
    position: absolute;
    right: 20px; top: 0px;
    width: 80px;  height: 30px;
    align-items: center; 
    display: flex;
    justify-content: center;
}
.silder .content .content2 .content_top > p {color: #aaa;}
.silder .content .content2 .content_top p em {}
.silder .content .content2 .content_img {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.silder .content .content2 .content_img img {width: 400px;}
.silder .content .content2 .description {padding-bottom: 50px;}
.silder .content .content2 .description ul {
    display: flex; justify-content: space-between;
    padding: 20px 0;
}
.silder .content .content2 .description ul li {font-weight: 700;}
.silder .content .content2 .description ul li:last-child {
    text-align: right;
}
.silder .content .content2 .price {
    padding-top: 30px;
    border-top:  1px solid #888;
    width: 300px;
    text-align: right;
    margin-left: 50px;
}
.silder .content .content2 .price > p {
    font-size: 1.875rem;
}
.silder .content .content2 .price > p span {color: #aaa; font-size: 0.9rem;}
.silder .content .content2 .btn {
    margin-top: 60px; text-align: center;
}
.silder .content .content2 .btn > a {
    border: 1px solid #000;
    padding: 10px 20px;
}
.silder .content .content2 .btn a:last-child {background-color: #000; color: #fff;}
/* ====================== con3 */
.silder .content .content3 {}
.silder .content .content3 .content_top {position: relative;}
.silder .content .content3 .content_top h3 {
    font-size: 1.875rem;
    padding-bottom: 50px;
}
.silder .content .content3 .content_top .ranking {
    background-color: #000; color: #fff;
    border-radius: 50px;
    position: absolute;
    right: 20px; top: 0px;
    width: 80px;  height: 30px;
    align-items: center; 
    display: flex;
    justify-content: center;
}
.silder .content .content3 .content_top > p {color: #aaa;}
.silder .content .content3 .content_top > p em {}
.silder .content .content3 .content_img {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.silder .content .content3 .content_img img {width: 400px;}
.silder .content .content3 .description {padding-bottom: 50px;}
.silder .content .content3 .description ul {
    display: flex; justify-content: space-between;
    padding: 20px 0;
}
.silder .content .content3 .description ul li {font-weight: 700;}
.silder .content .content3 .description ul li:last-child {
    text-align: right;
}
.silder .content .content3 .price {
    padding-top: 30px;
    border-top:  1px solid #888;
    width: 300px;
    text-align: right;
    margin-left: 50px;
}
.silder .content .content3 .price > p {
    font-size: 1.875rem;
}
.silder .content .content3 .price > p span {color: #aaa; font-size: 0.9rem;}
.silder .content .content3 .btn {
    margin-top: 60px; text-align: center;
}
.silder .content .content3 .btn > a {
    border: 1px solid #000;
    padding: 10px 20px;
}
.silder .content .content3 .btn a:last-child {background-color: #000; color: #fff;}
/* ===================== con4 */
.silder .content .content4 {}
.silder .content .content4 .content_top {position: relative;}
.silder .content .content4 .content_top h3 {
    font-size: 1.875rem;
    padding-bottom: 50px;
}
.silder .content .content4 .content_top .ranking {
    background-color: #000; color: #fff;
    border-radius: 50px;
    position: absolute;
    right: 20px; top: 0px;
    width: 80px;  height: 30px;
    align-items: center; 
    display: flex;
    justify-content: center;
}
.silder .content .content4 .content_top > p {color: #aaa;}
.silder .content .content4 .content_top > p em {}
.silder .content .content4 .content_img {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.silder .content .content4 .content_img img {width: 400px;}
.silder .content .content4 .description {padding-bottom: 50px;}
.silder .content .content4 .description ul {
    display: flex; justify-content: space-between;
    padding: 20px 0;
}
.silder .content .content4 .description ul li {font-weight: 700;}
.silder .content .content4 .description ul li:last-child {
    text-align: right;
}
.silder .content .content4 .price {
    padding-top: 30px;
    border-top:  1px solid #888;
    width: 300px;
    text-align: right;
    margin-left: 50px;
}
.silder .content .content4 .price > p {
    font-size: 1.875rem;
}
.silder .content .content4 .price > p span {color: #aaa; font-size: 0.9rem;}
.silder .content .content4 .btn {
    margin-top: 60px; text-align: center;
}
.silder .content .content4 .btn > a {
    border: 1px solid #000;
    padding: 10px 20px;
}
.silder .content .content4 .btn a:last-child {background-color: #000; color: #fff;}

/* details  */
.details {
    display: flex;
    padding: 100px 0;
}
.details .details1 {    
    background-color: #F8F8F8;
    width: 380px; height: 250px;
    text-align: left;
    padding: 24px;
    position: relative;
    margin-left: 240px;
}
.details .details1 > a {

}
.details .details1 > a > p {}
.details .details1 > a > p:first-child {width: 32px;}
.details .details1 > a > p:last-child { 
    text-align: right;
    position: absolute;
    right: 32px;
    bottom: 32px;
}
/* details2 */
.details {
    display: flex;
    padding: 100px 0;
}
.details .details2 {    
    background-color: #F8F8F8;
    width: 380px; height: 250px;
    text-align: left;
    padding: 24px;
    position: relative;
    margin-left: 24px;
}
.details .details2 > a {

}
.details .details2 > a > p {}
.details .details2 > a > p img:first-child {width: 32px;}
.details .details2 > a > p:last-child { 
    text-align: right;
    position: absolute;
    right: 32px;
    bottom: 32px;
}
.details {
    display: flex;
    padding: 100px 0;
}
.details .details2 {    
    background-color: #F8F8F8;
    width: 380px; height: 250px;
    text-align: left;
    padding: 24px;
    position: relative;
    margin-left: 24px;
}
.details .details2 > a {

}
.details .details2 > a > p {}
.details .details2 > a > p img:first-child {width: 32px;}
.details .details2 > a > p:last-child { 
    text-align: right;
    position: absolute;
    right: 32px;
    bottom: 32px;
}
/* details3 */
.details {
    display: flex;
    padding: 100px 0;
}
.details .details3 {    
    background-color: #F8F8F8;
    width: 380px; height: 250px;
    text-align: left;
    padding: 24px;
    position: relative;
    margin-left: 24px;
}
.details .details3 > a {

}
.details .details3 > a > p {}
.details .details3 > a > p img:first-child {width: 32px;}
.details .details3 > a > p:last-child { 
    text-align: right;
    position: absolute;
    right: 32px;
    bottom: 32px;
}
.details {
    display: flex;
    padding: 100px 0;
}
.details .details3 {    
    background-color: #F8F8F8;
    width: 380px; height: 250px;
    text-align: left;
    padding: 24px;
    position: relative;
    margin-left: 24px;
}
.details .details3 > a {

}
.details .details3 > a > p {}
.details .details3 > a > p img:first-child {width: 32px;}
.details .details3 > a > p:last-child { 
    text-align: right;
    position: absolute;
    right: 32px;
    bottom: 32px;
}
/* details4 */
.details {
    display: flex;
    padding: 100px 0;
}
.details .details4 {    
    background-color: #F8F8F8;
    width: 380px; height: 250px;
    text-align: left;
    padding: 24px;
    position: relative;
    margin-left: 24px;
}
.details .details4 > a {

}
.details .details4 > a > p {}
.details .details4 > a > p img:first-child {width: 32px;}
.details .details4 > a > p:last-child { 
    text-align: right;
    position: absolute;
    right: 32px;
    bottom: 32px;
}
.details {
    display: flex;
    padding: 100px 0;
}
.details .details4 {    
    background-color: #F8F8F8;
    width: 380px; height: 250px;
    text-align: left;
    padding: 24px;
    position: relative;
    margin-left: 24px;
}
.details .details4 > a {

}
.details .details4 > a > p {}
.details .details4 > a > p img:first-child {width: 32px;}
.details .details4 > a > p:last-child { 
    text-align: right;
    position: absolute;
    right: 32px;
    bottom: 32px;
}