@media screen and (max-width:1024px) {
    header > .navigation > nav  {display: none;}
    /* header > .navigation > .right_nav > ul > li:first-child {display: none;} */
    header > .navigation > .right_nav > ul > li > a{
        display: none;
    }
    header > .navigation > .right_nav_img > ul > li > a > img {
        display: block;
    }
}   
